<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-custom">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/search/show']" queryParamsHandling="merge">美剧</a>
        <span></span>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/search/movie']" queryParamsHandling="merge">电影</a>
        <span></span>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/search/variety']" queryParamsHandling="merge">综艺</a>
        <span></span>
      </li>
    </ul>
  </div>
</nav>
