<div class="header">
  <div class="search-bar">
    <app-header></app-header>
    <app-search-form></app-search-form>
  </div>
</div>
<div class="show-detail" *ngIf="tvshowSearchResult">
  <div class="search-result-pic">
    <img [src]="tvshowSearchResult.imgUrl" [appDefaultImg]="'search-result-detail-default-pic.jpg'"/>
  </div>
  <div class="search-result-info">
    <span class="name">{{tvshowSearchResult.name}}</span>
    <div>
      <span class="english-name">{{tvshowSearchResult.englishName}}</span>
    </div>
    <div>
      <p class="description">
        {{tvshowSearchResult.description.length > 300 ?
        (tvshowSearchResult.description | slice:0:300) + '...'
        : tvshowSearchResult.description}}
      </p>
    </div>
  </div>
</div>
<ng-container *ngIf="downloadlinkList |async; let downloadlinkItems">
  <div class="downloadlink-detail" *ngFor="let downloadLink of downloadlinkItems">
    <app-download-link [downloadLink]="downloadLink"></app-download-link>

  </div>
</ng-container>
